<div class="personas">
    <div class="persona" *ngFor="let persona of arrPersonas">
        <h3>{{ persona.nombre }} {{ persona.apellido }}</h3>
        <p>{{ persona.empresa }}</p>
        <p>{{ persona.telefono }}</p>
        <p>{{ persona.email }}</p>
    </div>
</div>