<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
    </div>
    <div class="form-group">
        <label>Apellido</label>
        <input type="text" class="form-control" formControlName="apellidos">
    </div>
    <div class="form-group">
        <label>Empresa</label>
        <input type="text" class="form-control" formControlName="empresa">
    </div>
    <div class="form-group">
        <label>Teléfono</label>
        <input type="text" class="form-control" formControlName="telefono">
    </div>
    <div class="form-group">
        <label>Mail</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <input type="submit" value="Enviar">
</form>